body {
	background: url(../images/bg.png) no-repeat bottom right;
	background-attachment: fixed;
	overflow-x:hidden;
}
#wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	min-height: 100%;
	height: auto;
}

#header, #lang-bar, #content {
	width: 100%;
	margin: 0 auto;
	float: left;
}

/*header*/
#header{
	width: 100%;
	height: 136px;
	/*background: #FFF;*/
	margin: 0;
	padding: 10px 0 0 10px;

	/*background: #666;*/
}

.logo, .menu, .account{	
	margin: 0 auto;
	float: left;
}

.logo{
	z-index:1000;
	width: 10%;
	/*background: #FFF;*/
	text-align: left;
}
p.logo-txt{
}


.menu{
	z-index:1000;
	height: 80px;
	background: url(../images/h-banner.png) #FFF no-repeat bottom center;
	width: 70%;
	text-align: center;
}
.menu span{
	margin: 20px;
	text-transform: uppercase;
}
.pink-txt{
	color: #e4007b;
}

/* Account */
.account{
	/*background: #FFF;*/
	width: 20%;
}




/* Language Bar */

#lang-bar {
	line-height: 27px;
	height: 27px; /*background-color:#F00;*/
	position: absolute;
	top: 136px;/* Height of the header element */

	/*
	MM = 27 + 10(padding) = 37
	EN = 27 + 10(padding) = 37
	padding = -10px
	*/
	left: -64px;

	/*left: -111px;*/ /*MM + JP + EN*/
}

/** Start Language Nav **************************************/

#lang-nav {
	float: left;
	height: 27px;
	overflow: hidden;
}
#lang-nav li {
	display: inline;
}
#lang-nav li#langjp a, #lang-nav li#langen a, #lang-nav li#langmm a {
	float: left;
	height: 0px;
	padding-top: 27px;
	padding-right: 10px;
}


/*en*/
#lang-nav li#langen a, #lang-nav li#langen a.off {
	background: url(../images/ico_en.png) left top no-repeat;
	width: 27px;
	background-position: 0px 0px;
}
#lang-nav li#langen a:hover, #lang-nav li#langen a.on {
	width: 27px;
	background-position: 0px -27px;
}
/*mm*/
#lang-nav li#langmm a, #lang-nav li#langmm a.off {
	background: url(../images/ico_mm.png) left top no-repeat;
	width: 27px;
	background-position: 0px 0px;
}
#lang-nav li#langmm a:hover, #lang-nav li#langmm a.on {
	width: 27px;
	background-position: 0px -27px;
}

/** End Language Nav **************************************/


/*content*/

#content-home{
	background: url(../images/b_left.png) left top no-repeat !important; /*#FFF	*/
}

#content-contact{
	background: url(../images/b_contact.png) left top no-repeat !important;	
	padding-left: 5px !important;	
}
#content-login{
	background: url(../images/b_login.png) left top no-repeat !important;
	padding-left: 90px !important;
}
#content-register{
	background: url(../images/b_register.png) left top no-repeat !important;
	padding-left: 69px !important;	/* Width of the image  */
}
#content-home,
#content-about,
#content-contact,
#content-login,
#content-register,
#content{
	/*background: #FFF;*/
	padding-left: 0px;
	position: absolute;
	left: 15%;
	width: 70%;
	top:  136px;  /*Height of the header element */
	text-align: justify;		
}

#content{	
	top:  0px !important;  /*Height of the header element */
	position: relative  !important;
}

.lft, .rgt{
	float: left;
}
.lft{
	width:400px;
	margin-left: -10px;
}
.rgt{
	width:300px;
}


/*contact*/
.rounded-corners {
          behavior: url(/css/border-radius.htc);
          border-radius: 10px;
}

#login-form,
#register-form{
	float: left;
	margin-left: 5px;
}


#contact-form{
	width: 300px;
	height: 400px;
}
#login-form{
	width:290px;
	height: 250px;
}
#register-form,
#register-form table{
	width: 420px;
	height: 160px;
}

#contact-form,
#login-form,
#register-form{
	background: #fafafa;
	padding: 20px 50px 20px 50px;	
}
.small{
	font-size: 40px !important;
}
#contact-form .hdr,
#login-form .hdr,
#register-form .hdr{
	text-transform: uppercase;
	font-size: 50px;
	font-weight:lighter;
}

#mycart-form button,
#add2basket-form button,
#contact-form button,
#login-form button,
#register-form button{
	background: #d53767;
	color: #FFF;
	text-transform: uppercase;
}
#contact-form label, .lbl,
#login-form label, .lbl,
#register-form label, .lbl{
	color: #d53767;
	text-transform: uppercase;
}


/*register-form */
#register-form span{
	color: #d53767;
	text-align: left !important;
}

#login-form p,
#register-form p{
	padding-top: 10px !important;
}
#register-form .reg-content label{
	font-size: 10px;
}
#register-form .reg-content {
	margin-bottom: 10px !important;
}
.reg-content{
	overflow: hidden;
	z-index:10000;
	display:none;
}
.sub-hdr{
  text-transform: uppercase;
  color: #000 !important; 
}
.bdr{
	border-bottom: #666 dotted 1px ;
}

.schide {
	width: 100%;
	height: 40%;
	overflow: hidden;	
	float: left;
}
.pleft-ctn {
    width: 100%;
    height: 50%;
    overflow: auto;    
    padding-right: 4%;
}


/*footer
#footer{
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-left: 7px;
	margin: 0 auto;
	background: #000;	
	
	color: #FFF;
	font-size: 12px;	
	

}*/

/*footer*/
#down-wrp {
	width:100%;
	background:url(../images/ftr_bg.png) left bottom repeat-x #F00;
	float:left;
	margin-top:50px;
}

#ftr-ctn {
	margin:0 auto;
	width:940px;
}
#ftr-links {
	float:left;
	width:100%;
	height:139px;
	padding:10px 0px;
}
.ftr-list {
	float:left;
}
.ftr-list li a {
	padding-left:10px;
	color:#818181;
}
.ftr-list li a:hover {
	color:#000;
	background:url(../images/blt-ftr.png) 0px 4px no-repeat;
}
#ftr-social {
	float:right;
}
#ftr-social li {
	display:inline;
}
#ftr-social li a {
	float:left;
	height:0px;
	width:20px;
	padding-top:18px;
	background:url(../images/social-icons.png) left top no-repeat;
	overflow:hidden;
	margin-left:5px;
}
#ftr-social li.so_skype a {
	background-position: 0 0;
}
#ftr-social li.so_facebook a {
	background-position: -20px 0;
}
#ftr-social li.so_in a {
	background-position: -40px 0;
}
#ftr-social li.so_skype a:hover {
	background-position: 0 -18px;
}
#ftr-social li.so_facebook a:hover {
	background-position: -20px -18px;
}
#ftr-social li.so_in a:hover {
	background-position: -40px -18px;
}
.copyright {
	width:100%;
	float:left;
	height:25px;
	padding:12px 0px 0px 0px;
}
.font {
	font-family:"Myriad Pro";
	font-stretch:condensed;
	font-weight:bold;
}
.white {
	color:#FFFFFF;
}
.flt-left {
	float:left;
}
.flt-right {
	float:right;
}