/* CSS Document */

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body {
	height:100%;
	width:100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	/*font-family:Calibri, sans-serif, monospace;*/
	font-family:"Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light", "‚l‚r ƒSƒVƒbƒN", "‚l‚r ‚oƒSƒVƒbƒN";
	font-size:13px;
	line-height: 120% \0/; /*IE8+9*/
	*line-height: 100% \0/; /*IE6+7*/
}
input {
	font-size:12px;	
}
p, span, dd {
	line-height:150%;
}
* {
	padding:0;
	margin:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #e4007b;
	text-decoration: none;
}

/* HTML5 tags */
header, section, footer, aside, nav, article, figure {
	display: block;
}
/* for this site */
a {
	/*color:#4c87c9;*/
	text-decoration:none;
}
a:active, a:hover {
	text-decoration: none;
}
ul, ol, li {
	list-style:none;
}
/* IE 6 or less */
* html body {
	font-size:80%;
	line-height:100%;
}
/* IE 7 or more */
*:first-child+html body {
	font-size:60%;
	line-height:100%;
}